<?xml version="1.0"?>
<!--
/*
 * Copyright (c) 2018 TechDivision GmbH
 * All rights reserved
 *
 * This product includes proprietary software developed at TechDivision GmbH, Germany
 * For more information see http://www.techdivision.com/
 *
 * To obtain a valid license for using this software please contact us at
 * license@techdivision.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <techdivision_indexsuspender>
            <general>
                <enable>1</enable>
                <enable_delta>1</enable_delta>
                <release_suspender_period>12 hours</release_suspender_period>
            </general>
        </techdivision_indexsuspender>
    </default>
</config>